/**
 * rest-schedule API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 * <p>
 * The version of the OpenAPI document: 1.0.0-SNAPSHOT
 * <p>
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.arianit.ui.schedule.api;

import com.arianit.ui.schedule.model.Appointment;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;

/**
 * appointments API
 */

@RegisterRestClient(configKey = "rest-schedule")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/appointments")
public interface AppointmentsApi {

    @GET
    List<Appointment> apiAppointmentsGet() throws ApiException, ProcessingException;

    @DELETE
    @Path("/{id}")
    void apiAppointmentsIdDelete(@PathParam("id") Long id) throws ApiException, ProcessingException;

    @GET
    @Path("/{id}")
    Appointment apiAppointmentsIdGet(@PathParam("id") Long id) throws ApiException, ProcessingException;

    @POST
    @Consumes(MediaType.APPLICATION_JSON)
    void apiAppointmentsPost(Appointment appointment) throws ApiException, ProcessingException;

    @PUT
    @Consumes(MediaType.APPLICATION_JSON)
    Appointment apiAppointmentsPut(Appointment appointment) throws ApiException, ProcessingException;
}
