/**
 * rest-schedule API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 * <p>
 * The version of the OpenAPI document: 1.0.0-SNAPSHOT
 * <p>
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.arianit.ui.schedule.api;

import com.arianit.ui.schedule.model.User;
import jakarta.ws.rs.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;

/**
 * users API
 */

@RegisterRestClient(configKey = "rest-schedule")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/users")
public interface UsersApi {

    @GET
    List<User> apiUsersGet() throws ApiException, ProcessingException;

    @DELETE
    @Path("/{id}")
    void apiUsersIdDelete(@PathParam("id") Long id) throws ApiException, ProcessingException;

    @GET
    @Path("/{id}")
    User apiUsersIdGet(@PathParam("id") Long id) throws ApiException, ProcessingException;

    @POST
    @Consumes({"application/json"})
    void apiUsersPost(User user) throws ApiException, ProcessingException;

    @PUT
    @Consumes({"application/json"})
    User apiUsersPut(User user) throws ApiException, ProcessingException;
}

